body {
    width: 1600px;
    height: 1200px;
    left: 0px;
    top: 0px;
    background: #456392;
    font-family: 'Mulish', sans-serif;
}

.profile {
    width: 608px;
    height: 728px;
    margin: 259px auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: content-box;
}

img {
    border-radius: 50%;
    margin: 80px 180px 0;
    border: 15px solid #ECF3FC99;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #131E30;
    margin: 0;
    padding: 0;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #131E30;
    margin: 5px 0 80px 0;
    padding: 0;
}

p {
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
text-align: center;
color: #000000;
margin: 0 0 0 0;
padding: 0;
}
